/*-- scss:defaults --*/
.textBlack {
    color: black;
  }
.textRed {
    color: red;
  }
.textBlue {
    color: blue;
  }
.textWhite {
    color: white;
  }
  
/*-- scss:rules --*/ 
.reveal .title{
  font-size:2em;
  text-align:right
  
}

